// secondary color
$dark-primary-0: hsl(1, 0%, 21%);
$dark-primary-1: hsl(1, 0%, 29%);
$dark-primary-2: hsl(1, 0%, 37%);
$dark-primary-3: hsl(1, 0%, 45%);
$dark-primary-4: hsl(1, 0%, 52%); 
$dark-primary-5: hsl(1, 0%, 60%);
$dark-primary-6: hsl(1, 0%, 67%);
$dark-primary-7: hsl(1, 0%, 74%);
$dark-primary-8: hsl(1, 0%, 81%);
$dark-primary-9: hsl(1, 0%, 93%);

// teals
$clr-teal-0: hsl(180, 40%, 21%);
$clr-teal-1: hsl(180, 40%, 29%);
$clr-teal-2: hsl(180, 40%, 37%);
$clr-teal-3: hsl(180, 40%, 45%);
$clr-teal-4: hsl(180, 40%, 52%);
$clr-teal-5: hsl(180, 40%, 60%);
$clr-teal-6: hsl(180, 40%, 67%);
$clr-teal-7: hsl(180, 40%, 74%);
$clr-teal-8: hsl(180, 40%, 81%);
$clr-teal-9: hsl(180, 40%, 88%);

